<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CTF, ShadowServants, MSHP, 2018!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.6/css/lightgallery.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.6/js/lightgallery.min.js"></script>


    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->


    <style type="text/css">
        .team {
            font-size: 1.05em;
            font-weight: bolder;
        }

        html {
            min-width: 900px;
        }

        body {
            min-width: 900px;
            margin-bottom: 10em;
        }
    </style>
</head>
<body style="background-color: #fbfbfd;">
    <div class="top-bar" id="responsive-menu" style="background-color: #950020; margin-bottom: 2em;">
        <div class="top-bar-left" style="width: 100%;">
            <ul class="dropdown menu" data-dropdown-menu style="width: 100%; background-color: #950020;">
                <h1 style="color: #fbfbfd; font-size: 1.7em; text-align: center; margin-left: auto; margin-right: auto;">С новым годом!</h1>
            </ul>
        </div>
    </div>

    <div class="grid-x" style="margin-left: auto; margin-right: auto; width: 60vw;">
        <div class="small-3 cell" style="min-width: 200px"><img src="static/privet_transparent.png" style="min-width: 200px;"/></div>
        <div class="small-9 cell" style="margin-top: 3em; padding-left: 1em;">
            <h2>Привет!</h2>
            <p style="font-size: 1.2em;">
                С новым годом, мой дорогой друг =) <br />
                2017-ый год был очень, <b>очень</b> насыщенным для CTF-движения. Давайте вспомним самые яркие моменты ;)
            </p>
        </div>
    </div>

    <hr />

    <div class="grid-x" style="margin-left: auto; margin-right: auto; width: 70vw;">
        <div class="small-6 cell" style="margin-top: 3em; padding-left: 2em;">
            <h2>Апрель</h2>
            <p style="font-size: 1.2em;">
                Конечно, RuCTF! <br />
                Вы сами всё знаете. Круче &mdash; только Defcon.
                <br />
                <span class="team">ShadowServants</span> (2-ое место!) <br />
                <span class="team">The Elite Firm</span> (20-ое) <br />
            </p>
        </div>
        <div class="small-6 cell" style="margin-top: 3em; padding-left: 1em;">
            <img src="static/ructf-1.jpg" />
        </div>
    </div>
    <div class="grid-x" style="margin-left: auto; margin-right: auto; width: 70vw;">
        <div class="small-12 cell" style="margin-top: 3em; padding-left: 2em;">
            <div class="fotorama" data-height="500px">
                <img src="static/ructf-3.jpg">
                <img src="static/ructf-4.jpg">
                <img src="https://pp.userapi.com/c637618/v637618405/4ec3b/ttC2J0FzYw8.jpg">
                <img src="https://pp.userapi.com/c639722/v639722209/14015/whwCf0SkUzs.jpg">
                <img src="https://pp.userapi.com/c637618/v637618405/4eee9/ywxvQXBLq4M.jpg">
                <img src="https://pp.userapi.com/c626129/v626129209/53c1b/XEDdqXk9Q-4.jpg">
            </div>
        </div>
    </div>

    <hr />

    <div class="grid-x" style="margin-left: auto; margin-right: auto; width: 60vw;">
        <div class="small-6 cell" style="margin-top: 3em; padding-left: 2em;">
            <h2>Июнь и июль</h2>
            <p style="font-size: 1.2em;">
                Летний лагерь CTF &mdash; тот самый!
            </p>
        </div>
        <div class="small-6 cell" style="margin-top: 3em; padding-left: 1em;">
            <img src="https://pp.userapi.com/c841235/v841235529/f5f4/YuUf50P3A2g.jpg" />
        </div>
    </div>
    <div class="grid-x" style="margin-left: auto; margin-right: auto; width: 70vw;">
        <div class="small-12 cell" style="margin-top: 3em; padding-left: 2em;">
            <div class="fotorama" data-height="500px">
                <img src="https://pp.userapi.com/c841235/v841235529/f2c0/11jm06YUfQQ.jpg">
                <img src="https://pp.userapi.com/c621705/v621705958/6e89/tKC119DdAmc.jpg">
                <img src="https://pp.userapi.com/c621705/v621705958/6e9d/rAuGD-EeTb0.jpg">
                <img src="https://pp.userapi.com/c841235/v841235529/f450/TFyD2_ZqABs.jpg">
                <img src="https://pp.userapi.com/c841235/v841235529/f03c/4Pi91RxVUOk.jpg">
                <img src="https://pp.userapi.com/c621705/v621705958/6eb1/O063y4hRgj4.jpg">
            </div>
        </div>
    </div>

    <hr />

    <div class="grid-x" style="margin-left: auto; margin-right: auto; width: 60vw;">
        <div class="small-9 cell" style="margin-top: 3em; padding-left: 2em;">
            <h2>Ноябрь</h2>
            <p style="font-size: 1.2em;">
                Moscow CTF School! <br />
                Самое крутое соревнование для школьников &mdash; неизменно за нами. <br />
                7 команд под единым флагом приехали, чтобы показать, что умеют. (и кто тут чемпионы) <br />
                Первое, второе и четвёртое места. <br />
                <span class="team">Kekulechko Net Diggers</span>, <span class="team">Magnum Opus</span>, <span class="team">The Last Firm</span>
            </p>
        </div>
        <div class="small-3 cell" style="margin-top: 3em; padding-left: 1em;">
            <img src="https://pp.userapi.com/c624418/v624418293/50d16/YnoyzPFbYKQ.jpg" />
        </div>
    </div>
    <div class="grid-x" style="margin-left: auto; margin-right: auto; width: 70vw;">
        <div class="small-12 cell" style="margin-top: 3em; padding-left: 2em;">
            <div class="fotorama" data-height="500px">
                <img src="https://pp.userapi.com/c824504/v824504254/2b0a1/WQhO4VNV_k0.jpg">
                <img src="https://pp.userapi.com/c834101/v834101499/2b948/UFjsBCZqFK8.jpg">
                <img src="https://pp.userapi.com/c840728/v840728328/23e7e/osZlBoAfIHY.jpg">
                <img src="https://pp.userapi.com/c841121/v841121132/3b107/2NKBBl7P1dY.jpg">
                <img src="https://pp.userapi.com/c639320/v639320132/5690e/khNMhLWbWXo.jpg">
            </div>
        </div>
    </div>

    <hr />

    <div class="grid-x" style="margin-left: auto; margin-right: auto; width: 60vw;">
        <div class="small-9 cell" style="margin-top: 3em; padding-left: 2em;">
            <h2>Всё ещё ноябрь</h2>
            <p style="font-size: 1.2em;">
                На этот раз M*CTF. <br />
                Первое соревнование, прошедшее на системе Shadow Servants. <br />
                Сеть легла, сеть DDoS-или, но система показала себя отлично. <br />
                <span class="team">10X</span> &mdash; первое место в школьном зачёте <br />
                <span class="team">Shadow Servants</span> &mdash; первое место в студенческом зачёте
            </p>
        </div>
        <div class="small-3 cell" style="margin-top: 3em; padding-left: 1em;">
            <img src="https://pp.vk.me/c627618/v627618420/3f8d0/LqKxVNumPIw.jpg" />
        </div>
    </div>
    <div class="grid-x" style="margin-left: auto; margin-right: auto; width: 70vw;">
        <div class="small-12 cell" style="margin-top: 3em; padding-left: 2em;">
            <div class="fotorama" data-height="500px">
                <img src="https://pp.userapi.com/c623900/v623900204/37573/xjWJsH_zhEc.jpg">
                <img src="https://pp.userapi.com/c840130/v840130029/4299c/KpnE8JYJO3w.jpg">
            </div>
        </div>
    </div>

    <hr />

    <div class="grid-x" style="margin-left: auto; margin-right: auto; width: 60vw;">
        <div class="small-9 cell" style="margin-top: 3em; padding-left: 2em;">
            <h2>Декабрь</h2>
            <p style="font-size: 1.2em;">
                Кубок CTF России, лига чемпионов <br />
                <a href="https://vk.com/ctfcup">https://vk.com/ctfcup</a>
                <span class="team">Shadow Servants</span> &mdash; второе место в общем зачёте и первое по результатам task-based.
                Первое место &mdash; <span class="team">HackerDom</span>.

                <span class="team">Kekulechko Net Diggers</span> &mdash; второе место по результатам task-based (HackerDom 4-ые!) <br />
                <span class="team">Magnum Opus</span> &mdash; 9-ое место <br />
            </p>
        </div>
        <div class="small-3 cell" style="margin-top: 3em; padding-left: 1em;">
            <img src="static/ctfcup.png" />
        </div>
    </div>
    <div class="grid-x" style="margin-left: auto; margin-right: auto; width: 60vw;">
        <div class="small-12 cell" style="margin-top: 3em; padding-left: 2em;">
            <div class="fotorama" data-height="500px">
                <img src="https://pp.userapi.com/c831308/v831308340/27506/D14QighB3Vw.jpg">
                <img src="https://pp.userapi.com/c841527/v841527269/42b86/kYC9jfza59s.jpg">
                <img src="https://pp.userapi.com/c831308/v831308340/27542/HBmOmjNmjjs.jpg">
                <img src="https://pp.userapi.com/c830408/v830408057/26697/oxRvHUWN05g.jpg">
                <img src="https://pp.userapi.com/c841337/v841337393/46a17/kMrrh_9Hw2E.jpg">
            </div>
        </div>
    </div>


    <hr />

    <div class="grid-x" style="margin-left: auto; margin-right: auto; width: 60vw;">
        <div class="small-12 cell" style="">
            <h2 style="width: 100%; text-align: center;">Что дальше?</h2>

            <p style="font-size: 1.5em; text-align: center;">
                Во-первых, мы возобновляем тренировки в стенах Школы программистов. О точных датах будет сообщено здесь: <a href="https://vk.com/mshpctf">https://vk.com/mshpctf</a> <br />
                <br />
                Во-вторых, скоро мы проведём НАБОР НОВЫХ ЛЮДЕЙ. Да-да, если вы ещё не часть MSHP/CTF, вы сможете ей стать. Новости будут там же &mdash; <a href="https://vk.com/mshpctf">https://vk.com/mshpctf</a>  <br />
                <br />
                И, конечно, пора позравить друзей. <br >Это новый год, новый шанс стать лучше. <br /> Новый. Шанс. Украсть. Флаг. <br />
                Shadow Servants вас любят.
                <br />
                Надеемся, вы победите во всех своих войнах. <br /> <!-- https://github.com/jnovikov/newyearctf -->
            </p>
            <h1 style="width: 100%; text-align: center;">С новым годом!</h1>

            <p style="width: 100%; text-align: center; margin-top: 2em;">
                <a href="/new" class="button large">Поздравить друзей</a>
            </p>
        </div>
    </div>

        <script>
        $(document).foundation();
    </script>
</body>
</html>